.header {
  padding: 20px 0;

  &__wrapper {
    width: 100%;
    @extend %flex-justify;
    @include font ($text-dark, 1.6rem, 600, 150%);
    align-items: center;

    @include media-tablet {
      flex-direction: column;
    }
  }

  &__title {
    // width: 40%;
    @extend %flex-justify;
  };

  &__content {
    width: 60%;
    @include font ($text-dark, 1.6rem, 600, 150%);
    align-items: center;
    @extend %flex-justify;
    @include media-tablet {
      display: none;
    }
  }
}


.menu-link {
  display: flex;
  border-bottom: 2px solid $text-light;

  &__text {
    margin-right: 8px;
  }

  &__picture {
    background: url(../../assets/header/coffee-cup.svg);
    width: 20px;
    height: 20px;
  }

  &:hover {
    border-bottom: 2px solid $text-dark;
    @extend %transition;
  }

  // @include media-tablet {
  //   display: none;
  // }
}

.burger-menu {
  display: none;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $border-dark;

  @include media-tablet {
    display: flex;
  }
}

.burger-menu__container {
  width: 100%;
  height: 8px;
  @extend %flex-column;
  justify-content: space-between;
  align-items: center;

  // closed burger-menu 
  &_active {

    .burger-menu__line {
      @include media-tablet {
        transform: rotate(45deg);
        position: relative;

        &::after {
          @include media-tablet {
            top: 0;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}

.burger-menu__line {
  width: 16px;
  height: 1.5px;
  position: absolute;
  background: $text-dark;
  border-radius: 100px;
  @extend %transition;

  &:after {
    content: " ";
    position: absolute;
    top: 8px;
    width: 16px;
    height: 1.5px;
    background: $text-dark;
    border-radius: 100px;
  }
}

.burger-menu-nav__container {
  @include media-tablet {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}