.header {
  padding: 20px 0;

}

.header__wrapper {
  @extend %flex-justify;
  @include font ($text-dark, 1.6rem, 600, 150%);
  align-items: center;
}


.menu-link {
  display: flex;
  border-bottom: 2px solid $text-light;

  &:hover {
    border-bottom: 2px solid $text-dark;
    @extend %transition;

    &__text {
      margin-right: 8px;
    }
    
    &__picture {
      background: url(../../assets/header/coffee-cup.svg);
      width: 20px;
      height: 20px;
    }
  }
}

