//-----------------Coffee-picture---for---Main-page----------------------
.coffee1 {
  background: url("../../assets/menu__page/categories/coffee/coffee-1.jpg");
}; 
.coffee2 {
  background: url("../../assets/menu__page/categories/coffee/coffee-2.jpg");
}; 
.coffee3 {
  background: url("../../assets/menu__page/categories/coffee/coffee-3.jpg");
}; 
.coffee4 {
  background: url("../../assets/menu__page/categories/coffee/coffee-4.jpg");
}; 
.coffee5 {
  background: url("../../assets/menu__page/categories/coffee/coffee-5.jpg");
}; 
.coffee6 {
  background: url("../../assets/menu__page/categories/coffee/coffee-6.jpg");
}; 
.coffee7 {
  background: url("../../assets/menu__page/categories/coffee/coffee-7.jpg");
}; 
.coffee8 {
  background: url("../../assets/menu__page/categories/coffee/coffee-8.jpg");
}; 


//-----------------Tea-pictures--------------------------------
.tea1 {
  background: url("../../assets/menu__page/categories/tea/tea-1.jpg");
}; 
.tea2 {
  background: url("../../assets/menu__page/categories/tea/tea-2.jpg");
}; 
.tea3 {
  background: url("../../assets/menu__page/categories/tea/tea-3.jpg");
}; 
.tea4 {
  background: url("../../assets/menu__page/categories/tea/tea-4.jpg");
}; 


//-----------------Dessert-pictures--------------------------------
.dessert1 {
  background: url("../../assets/menu__page/categories/dessert/dessert-1.jpg");
}; 
.dessert2 {
  background: url("../../assets/menu__page/categories/dessert/dessert-2.jpg");
}; 
.dessert3 {
  background: url("../../assets/menu__page/categories/dessert/dessert-3.jpg");
}; 
.dessert4 {
  background: url("../../assets/menu__page/categories/dessert/dessert-4.jpg");
}; 
.dessert5 {
  background: url("../../assets/menu__page/categories/dessert/dessert-5.jpg");
}; 
.dessert6 {
  background: url("../../assets/menu__page/categories/dessert/dessert-6.jpg");
}; 
.dessert7 {
  background: url("../../assets/menu__page/categories/dessert/dessert-7.jpg");
}; 
.dessert8 {
  background: url("../../assets/menu__page/categories/dessert/dessert-8.jpg");
}; 

