// ---------colors
$text-light: #E1D4C9;
$text-accent: #B0907A;
$text-dark: #403F3D;

$background-body: #E1D4C9;
$background-container: #665F55;
$background-backdrop: rgba(64, 63, 61, 0.80);

$border-light: #C1B6AD;
$border-dark: #665F55;

//----------widths
$width-desktop: 1440px;
$width-tablet-more: 1439px;
$width-tablet: 768px;
$width-mobile-more: 767px;
$width-mobile: 380px;

