@mixin font ($color, $size, $weight, $height, $style: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $height
}


@mixin media-tablet-more {
  @media (max-width: $width-tablet-more) {@content}
};

@mixin media-tablet {
  @media (max-width: $width-tablet) {@content}
};

@mixin media-mobile-more {
  @media (max-width: $width-mobile-more) {@content}
};

@mixin media-mobile {
  @media (max-width: $width-mobile) {@content}
};

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    transition: all 0.7s ease-out;
    @content}
};

@mixin transition {
  transition: all 0.7s ease-out
};

