.resource {}

.resource__wrapper {
  @extend %flex-column;
  gap: 40px;
}

.resource__title {}

.pictures-2-column {
  @extend %flex-justify;

  @include media-tablet-more {
    flex-wrap: wrap;
  }
};

.pictures__blocks {
  @extend %flex-column;
  gap: 40px
}

.source__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  transition: display 3s ease-in-out;

  &:hover {

    .picture-visible_big,
    .picture-visible_small {
      width: 660px;
      height: 660px;
      background-size: contain;
      @extend %transition;
    }
  }
}

.picture_big {
  width: 660px;
  height: 590px;
}

.picture-visible_big {
  width: 726px;
  height: 726px;
  padding: 68px 33px;
}

.picture_small {
  width: 660px;
  height: 430px;
  @extend %flex-center;
  overflow: hidden;

  @include media-tablet {
    display: none;
  }
}


.picture-visible_small {
  width: 726px;
  height: 726px;
  @extend %flex-center;
}

.picture1 {
  background: url(../../assets/resource/resource-1.jpg), lightgray 50% / cover no-repeat;
}

.picture2 {
  background: url(../../assets/resource/resource-2.jpg), lightgray 50% / cover no-repeat;
}

.picture3 {
  background: url(../../assets/resource/resource-3.jpg), no-repeat;
}

.picture4 {
  background: url(../../assets/resource/resource-4.jpg), lightgray 50% / cover no-repeat;
}