.download {
  padding-bottom: 100px;
  &__wrapper {
    @extend %flex-justify;
    align-items: center;
  }

  &__content {
    width: calc((100% - 100px)/2);
    @extend %flex-column;
    gap: 40px;
  }

  &__title {}

  &__text {
    @include font ($text-dark, 16px, 400, 150%)
  }

  &__picture {
    width: 630px;
    height: 630px;
    background: url('../../assets/download/mobiles.svg') no-repeat;
  }
}

.download__buttons {
  display: flex;
  gap: 20px
}

