// .enjoy {}

// .enjoy-wrapper {}

.enjoy-container {
  width: 100%;

  border-radius: 40px;
  background: url("../../assets/enjoy/background-enjoy.jpg"), lightgray 50% / cover no-repeat;
  padding: 100px;
}

.enjoy__content {
  max-width: 530px;
  @extend %flex-column;
  gap: 40px;
}

.enjoy__title {
  @include font ($text-light, 7.2rem, 600, 105%);
}



.enjoy__text {
  @include font ($text-light, 1.6rem, 400, 150%);
}