.menu {
  &__container {
    @extend %flex-column;
    gap: 40px;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
  }

  &__title {
    max-width: 800px;
  }

}

.category-switching {
  width: 100%;

  &__container {
    @extend %flex-column;
    gap: 40px;
    align-items: center;
  }
}


.switching {
  &__container {
    display: flex;
    gap: 16px;

    @include media-mobile-more {
      gap: 8px;
    }
  }

  &__item {
    padding: 8px 16px 8px 8px;
    @extend %flex-center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid $border-light;
    @extend %transition;

    &:nth-child(1) div div {
      background: url("../../assets/menu__page/swithing/1.svg") no-repeat;
    }

    &:nth-child(2) div div {
      background: url("../../assets/menu__page/swithing/2.svg") no-repeat;
    }

    &:nth-child(3) div div {
      background: url("../../assets/menu__page/swithing/3.svg") no-repeat;
    }
  }

  .switching-picture__container {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: $border-light;
  }

  &__picture {
    width: 16px;
    height: 16px;
  }

  &__name {
    @include font ($text-dark, 1.6rem, 600, 150%)
  }
}

.switching_active, .switching__item:hover {
  @include hover {
    background: $background-container;
  }

  ;


  .switching {
    &-picture__container {
      background: $background-body;
    }

    &__name {
      color: $text-light;
    }
  }
}

.categories {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;

    @include media-tablet-more {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-mobile-more {
      grid-template-columns: repeat(1, 1fr);
    }

  }


  .category {
    border-radius: 40px;
    border: 1px solid $border-light;
    overflow: hidden;
    max-width: 310px;

    @include media-tablet {
      &:nth-child(n+5) {
        display: none
      }
    }

    &:hover {
      .category__picture {
        @include hover {
          width: calc(340px - 15px*2);
          height: calc(340px - 15px*2);
          background-size: contain;
        }

        ;
      }
    }

    &:nth-child(1) .category-picture__container div {
      background: url("../../assets/menu__page/categories/coffee/coffee-1.jpg") lightgray 50% / cover no-repeat;
    }

    &:nth-child(2) .category-picture__container div {
      background: url("../../assets/menu__page/categories/coffee/coffee-2.jpg") lightgray 50% / cover no-repeat;
    }

    &:nth-child(3) .category-picture__container div {
      background: url("../../assets/menu__page/categories/coffee/coffee-3.jpg") lightgray 50% / cover no-repeat;
    }

    &:nth-child(4) .category-picture__container div {
      background: url("../../assets/menu__page/categories/coffee/coffee-4.jpg") lightgray 50% / cover no-repeat;
    }

    &:nth-child(5) .category-picture__container div {
      background: url("../../assets/menu__page/categories/coffee/coffee-5.jpg") lightgray 50% / cover no-repeat;
    }

    &:nth-child(6) .category-picture__container div {
      background: url("../../assets/menu__page/categories/coffee/coffee-6.jpg") lightgray 50% / cover no-repeat;
    }

    &:nth-child(7) .category-picture__container div {
      background: url("../../assets/menu__page/categories/coffee/coffee-7.jpg") lightgray 50% / cover no-repeat;
    }

    &:nth-child(8) .category-picture__container div {
      background: url("../../assets/menu__page/categories/coffee/coffee-8.jpg") lightgray 50% / cover no-repeat;
    }

    &-picture__container {
      width: calc(340px - 15px*2);
      height: calc(340px - 15px*2);
      overflow: hidden;
      border-radius: 40px;
      @extend %flex-center;
    }

    &__picture {
      width: 340px;
      height: 340px;
      padding: 15px;
      @extend %transition;
    }

    &__content {
      width: 100%;
      height: 196px;
      padding: 20px;
      @extend %flex-column;
      align-items: flex-start;
      // gap: 12px;
      justify-content: space-between;
    }

    &__name-price {
      @include font ($text-dark, 2.4rem, 600, 125%);
    }

    &__describe {
      @include font ($text-dark, 1.6rem, 400, 150%);
      text-align: start
    }
  }
}